# Exploratory Data Analysis
## Consumer Finance Loan Data
### Customer Loan Data for Urban Consumers with cutomers that are either :
####         Fully paid: Applicant has fully paid the loan (the principal and the interest rate)
####         Current: Applicant is in the process of paying the instalments, i.e. the tenure of the loan is not yet completed. These candidates are not labelled as 'defaulted'.
####         Charged-off: Applicant has not paid the instalments in due time for a long period of time, i.e. he/she has defaulted on the loan 


### The Primary Objective is to use 'Exploratory Data Analysis'(EDA) to identify patterns within this data which will tell whether a customer is likely to Default or  Fully pay back the loan

### From The module 
```"The data given below contains the information about past loan applicants and whether they ‘defaulted’ or not. The aim is to identify patterns which indicate if a person is likely to default, which may be used for taking actions such as denying the loan, reducing the amount of loan, lending (to risky applicants) at a higher interest rate, etc."```

In [80]:
# Import necessary Libraries
import numpy as np, pandas as pd

# Pull in the CSV File with Source Data, Data Dictionary
ConsumerLoanData = pd.read_csv(r'C:\Users\ajaya\Documents\Studies\LendingCaseStudyEDA\.gitignore\loan\loan.csv', parse_dates=['issue_d', 'next_pymnt_d', 'last_pymnt_d'])
    
# DataDictionary = pd.read_csv(r'C:\Users\ajaya\Documents\Studies\LendingCaseStudyEDA\Data_Dictionary.xlsx')

In [81]:
# Check a few rows to see, if read in correctly
print(ConsumerLoanData.head())

        id  member_id  loan_amnt  funded_amnt  funded_amnt_inv        term  \
0  1077501    1296599       5000         5000           4975.0   36 months
1  1077430    1314167       2500         2500           2500.0   60 months
2  1077175    1313524       2400         2400           2400.0   36 months
3  1076863    1277178      10000        10000          10000.0   36 months
4  1075358    1311748       3000         3000           3000.0   60 months

  int_rate  installment grade sub_grade  ... num_tl_90g_dpd_24m  \
0   10.65%       162.87     B        B2  ...                NaN
1   15.27%        59.83     C        C4  ...                NaN
2   15.96%        84.33     C        C5  ...                NaN
3   13.49%       339.31     C        C1  ...                NaN
4   12.69%        67.79     B        B5  ...                NaN

  num_tl_op_past_12m pct_tl_nvr_dlq  percent_bc_gt_75 pub_rec_bankruptcies  \
0                NaN            NaN               NaN                  0.0
1                NaN            NaN               NaN                  0.0
2                NaN            NaN               NaN                  0.0
3                NaN            NaN               NaN                  0.0
4                NaN            NaN               NaN                  0.0

  tax_liens tot_hi_cred_lim total_bal_ex_mort total_bc_limit  \
0       0.0             NaN               NaN            NaN
1       0.0             NaN               NaN            NaN
2       0.0             NaN               NaN            NaN
3       0.0             NaN               NaN            NaN
4       0.0             NaN               NaN            NaN

  total_il_high_credit_limit
0                        NaN
1                        NaN
2                        NaN
3                        NaN
4                        NaN

[5 rows x 111 columns]

In [82]:
# Basic Checks to see if the file was read correctly
print("Shape of the Loans dataframe: ",ConsumerLoanData.shape)

Shape of the Loans dataframe:  (39717, 111)

In [83]:
#Check the datatypes of all the columns of the dataframe
print("***** The Columns and Types in Loans dataframe *****")
print(ConsumerLoanData.info(verbose=True, show_counts=True))

***** The Columns and Types in Loans dataframe *****
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 111 columns):
 #    Column                          Non-Null Count  Dtype
---   ------                          --------------  -----
 0    id                              39717 non-null  int64
 1    member_id                       39717 non-null  int64
 2    loan_amnt                       39717 non-null  int64
 3    funded_amnt                     39717 non-null  int64
 4    funded_amnt_inv                 39717 non-null  float64
 5    term                            39717 non-null  object
 6    int_rate                        39717 non-null  object
 7    installment                     39717 non-null  float64
 8    grade                           39717 non-null  object
 9    sub_grade                       39717 non-null  object
 10   emp_title                       37258 non-null  object
 11   emp_length                      38642 non-null  object
 12   home_ownership                  39717 non-null  object
 13   annual_inc                      39717 non-null  float64
 14   verification_status             39717 non-null  object
 15   issue_d                         39717 non-null  object
 16   loan_status                     39717 non-null  object
 17   pymnt_plan                      39717 non-null  object
 18   url                             39717 non-null  object
 19   desc                            26777 non-null  object
 20   purpose                         39717 non-null  object
 21   title                           39706 non-null  object
 22   zip_code                        39717 non-null  object
 23   addr_state                      39717 non-null  object
 24   dti                             39717 non-null  float64
 25   delinq_2yrs                     39717 non-null  int64
 26   earliest_cr_line                39717 non-null  object
 27   inq_last_6mths                  39717 non-null  int64
 28   mths_since_last_delinq          14035 non-null  float64
 29   mths_since_last_record          2786 non-null   float64
 30   open_acc                        39717 non-null  int64
 31   pub_rec                         39717 non-null  int64
 32   revol_bal                       39717 non-null  int64
 33   revol_util                      39667 non-null  object
 34   total_acc                       39717 non-null  int64
 35   initial_list_status             39717 non-null  object
 36   out_prncp                       39717 non-null  float64
 37   out_prncp_inv                   39717 non-null  float64
 38   total_pymnt                     39717 non-null  float64
 39   total_pymnt_inv                 39717 non-null  float64
 40   total_rec_prncp                 39717 non-null  float64
 41   total_rec_int                   39717 non-null  float64
 42   total_rec_late_fee              39717 non-null  float64
 43   recoveries                      39717 non-null  float64
 44   collection_recovery_fee         39717 non-null  float64
 45   last_pymnt_d                    39646 non-null  object
 46   last_pymnt_amnt                 39717 non-null  float64
 47   next_pymnt_d                    1140 non-null   object
 48   last_credit_pull_d              39715 non-null  object
 49   collections_12_mths_ex_med      39661 non-null  float64
 50   mths_since_last_major_derog     0 non-null      float64
 51   policy_code                     39717 non-null  int64
 52   application_type                39717 non-null  object
 53   annual_inc_joint                0 non-null      float64
 54   dti_joint                       0 non-null      float64
 55   verification_status_joint       0 non-null      float64
 56   acc_now_delinq                  39717 non-null  int64
 57   tot_coll_amt                    0 non-null      float64
 58   tot_cur_bal                     0 non-null      float64
 59   open_acc_6m                     0 non-null      float64
 60   open_il_6m                      0 non-null      float64
 61   open_il_12m                     0 non-null      float64
 62   open_il_24m                     0 non-null      float64
 63   mths_since_rcnt_il              0 non-null      float64
 64   total_bal_il                    0 non-null      float64
 65   il_util                         0 non-null      float64
 66   open_rv_12m                     0 non-null      float64
 67   open_rv_24m                     0 non-null      float64
 68   max_bal_bc                      0 non-null      float64
 69   all_util                        0 non-null      float64
 70   total_rev_hi_lim                0 non-null      float64
 71   inq_fi                          0 non-null      float64
 72   total_cu_tl                     0 non-null      float64
 73   inq_last_12m                    0 non-null      float64
 74   acc_open_past_24mths            0 non-null      float64
 75   avg_cur_bal                     0 non-null      float64
 76   bc_open_to_buy                  0 non-null      float64
 77   bc_util                         0 non-null      float64
 78   chargeoff_within_12_mths        39661 non-null  float64
 79   delinq_amnt                     39717 non-null  int64
 80   mo_sin_old_il_acct              0 non-null      float64
 81   mo_sin_old_rev_tl_op            0 non-null      float64
 82   mo_sin_rcnt_rev_tl_op           0 non-null      float64
 83   mo_sin_rcnt_tl                  0 non-null      float64
 84   mort_acc                        0 non-null      float64
 85   mths_since_recent_bc            0 non-null      float64
 86   mths_since_recent_bc_dlq        0 non-null      float64
 87   mths_since_recent_inq           0 non-null      float64
 88   mths_since_recent_revol_delinq  0 non-null      float64
 89   num_accts_ever_120_pd           0 non-null      float64
 90   num_actv_bc_tl                  0 non-null      float64
 91   num_actv_rev_tl                 0 non-null      float64
 92   num_bc_sats                     0 non-null      float64
 93   num_bc_tl                       0 non-null      float64
 94   num_il_tl                       0 non-null      float64
 95   num_op_rev_tl                   0 non-null      float64
 96   num_rev_accts                   0 non-null      float64
 97   num_rev_tl_bal_gt_0             0 non-null      float64
 98   num_sats                        0 non-null      float64
 99   num_tl_120dpd_2m                0 non-null      float64
 100  num_tl_30dpd                    0 non-null      float64
 101  num_tl_90g_dpd_24m              0 non-null      float64
 102  num_tl_op_past_12m              0 non-null      float64
 103  pct_tl_nvr_dlq                  0 non-null      float64
 104  percent_bc_gt_75                0 non-null      float64
 105  pub_rec_bankruptcies            39020 non-null  float64
 106  tax_liens                       39678 non-null  float64
 107  tot_hi_cred_lim                 0 non-null      float64
 108  total_bal_ex_mort               0 non-null      float64
 109  total_bc_limit                  0 non-null      float64
 110  total_il_high_credit_limit      0 non-null      float64
dtypes: float64(74), int64(13), object(24)
memory usage: 33.6+ MB
None

In [84]:
#Some columns are entirely full of null values, we remove them here and create a new smaller dataframe
#source: https://datatofish.com/drop-columns-with-nan/

ConsumerLoanData1 = ConsumerLoanData.dropna(axis='columns', how ='all')
#ConsumerLoanData1 = ConsumerLoanData.loc[:, ~(ConsumerLoanData.isnull().sum() == 39717)]

print("Shape after removing all fully null fields: ", ConsumerLoanData1.shape)
ConsumerLoanData1.info()

Shape after removing all fully null fields:  (39717, 57)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

In [85]:
# Check Null Value counts again
# At 39717 totl rows, anything with > 30% (i.e. > 11915) missing records should be dropped
# We see desc, mths_since_last_delinq, mths_since_last_record, next_pymnt_d neet the dropping criteria
ConsumerLoanData1.isnull().sum()

id                                0
member_id                         0
loan_amnt                         0
funded_amnt                       0
funded_amnt_inv                   0
term                              0
int_rate                          0
installment                       0
grade                             0
sub_grade                         0
emp_title                      2459
emp_length                     1075
home_ownership                    0
annual_inc                        0
verification_status               0
issue_d                           0
loan_status                       0
pymnt_plan                        0
url                               0
desc                          12940
purpose                           0
title                            11
zip_code                          0
addr_state                        0
dti                               0
delinq_2yrs                       0
earliest_cr_line                  0
inq_last_6mths                    0
mths_since_last_delinq        25682
mths_since_last_record        36931
open_acc                          0
pub_rec                           0
revol_bal                         0
revol_util                       50
total_acc                         0
initial_list_status               0
out_prncp                         0
out_prncp_inv                     0
total_pymnt                       0
total_pymnt_inv                   0
total_rec_prncp                   0
total_rec_int                     0
total_rec_late_fee                0
recoveries                        0
collection_recovery_fee           0
last_pymnt_d                     71
last_pymnt_amnt                   0
next_pymnt_d                  38577
last_credit_pull_d                2
collections_12_mths_ex_med       56
policy_code                       0
application_type                  0
acc_now_delinq                    0
chargeoff_within_12_mths         56
delinq_amnt                       0
pub_rec_bankruptcies            697
tax_liens                        39
dtype: int64

In [86]:
# Some columns have very high rate > 30%  missing records we drop them
ConsumerLoanData1 = ConsumerLoanData1.drop(columns=['desc', 'mths_since_last_delinq', 'mths_since_last_record', 'next_pymnt_d'])
ConsumerLoanData1.shape

(39717, 53)

In [87]:
# Let's look at rows with missing values
# for 30% missing should have > 15 coulmns missing out of 53
# https://stackoverflow.com/questions/30059260/python-pandas-counting-the-number-of-missing-nan-in-each-row
print("Maximum value of missing across all rows: ",(ConsumerLoanData1.shape[1] - ConsumerLoanData1.count(axis=1)).max())
# None of the rows have 30% or more missing, keeping all 39717 rows here
print("\nAll row-wise mssing counts\n",(ConsumerLoanData1.shape[1] - ConsumerLoanData1.count(axis=1)))

Maximum value of missing across all rows:  5

All row-wise mssing counts
 0        1
1        0
2        1
3        0
4        0
        ..
39712    4
39713    4
39714    5
39715    5
39716    4
Length: 39717, dtype: int64

In [88]:
# Let's look at main Analysis variable Loan_status
print("Value Counts for loan_status:\n", ConsumerLoanData1.loan_status.value_counts())

# we don't need "Current" for our analysis, will drop this and keep only the other 2

Value Counts for loan_status:
 Fully Paid     32950
Charged Off     5627
Current         1140
Name: loan_status, dtype: int64

In [89]:
# Dropping records with loan_status = 'Current'

ConsumerLoanData2 = ConsumerLoanData1[~(ConsumerLoanData1['loan_status']=='Current')]
ConsumerLoanData2.shape

(38577, 53)

In [90]:
# Check dataframe information after dropping records with loan_status = 'Current'
ConsumerLoanData2.info()
ConsumerLoanData2.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 38577 entries, 0 to 39716
Data columns (total 53 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          38577 non-null  int64
 1   member_id                   38577 non-null  int64
 2   loan_amnt                   38577 non-null  int64
 3   funded_amnt                 38577 non-null  int64
 4   funded_amnt_inv             38577 non-null  float64
 5   term                        38577 non-null  object
 6   int_rate                    38577 non-null  object
 7   installment                 38577 non-null  float64
 8   grade                       38577 non-null  object
 9   sub_grade                   38577 non-null  object
 10  emp_title                   36191 non-null  object
 11  emp_length                  37544 non-null  object
 12  home_ownership              38577 non-null  object
 13  annual_inc                  38577 non-null  float64
 14  verification_status         38577 non-null  object
 15  issue_d                     38577 non-null  object
 16  loan_status                 38577 non-null  object
 17  pymnt_plan                  38577 non-null  object
 18  url                         38577 non-null  object
 19  purpose                     38577 non-null  object
 20  title                       38566 non-null  object
 21  zip_code                    38577 non-null  object
 22  addr_state                  38577 non-null  object
 23  dti                         38577 non-null  float64
 24  delinq_2yrs                 38577 non-null  int64
 25  earliest_cr_line            38577 non-null  object
 26  inq_last_6mths              38577 non-null  int64
 27  open_acc                    38577 non-null  int64
 28  pub_rec                     38577 non-null  int64
 29  revol_bal                   38577 non-null  int64
 30  revol_util                  38527 non-null  object
 31  total_acc                   38577 non-null  int64
 32  initial_list_status         38577 non-null  object
 33  out_prncp                   38577 non-null  float64
 34  out_prncp_inv               38577 non-null  float64
 35  total_pymnt                 38577 non-null  float64
 36  total_pymnt_inv             38577 non-null  float64
 37  total_rec_prncp             38577 non-null  float64
 38  total_rec_int               38577 non-null  float64
 39  total_rec_late_fee          38577 non-null  float64
 40  recoveries                  38577 non-null  float64
 41  collection_recovery_fee     38577 non-null  float64
 42  last_pymnt_d                38506 non-null  object
 43  last_pymnt_amnt             38577 non-null  float64
 44  last_credit_pull_d          38575 non-null  object
 45  collections_12_mths_ex_med  38521 non-null  float64
 46  policy_code                 38577 non-null  int64
 47  application_type            38577 non-null  object
 48  acc_now_delinq              38577 non-null  int64
 49  chargeoff_within_12_mths    38521 non-null  float64
 50  delinq_amnt                 38577 non-null  int64
 51  pub_rec_bankruptcies        37880 non-null  float64
 52  tax_liens                   38538 non-null  float64
dtypes: float64(18), int64(13), object(22)
memory usage: 15.9+ MB

id                               0
member_id                        0
loan_amnt                        0
funded_amnt                      0
funded_amnt_inv                  0
term                             0
int_rate                         0
installment                      0
grade                            0
sub_grade                        0
emp_title                     2386
emp_length                    1033
home_ownership                   0
annual_inc                       0
verification_status              0
issue_d                          0
loan_status                      0
pymnt_plan                       0
url                              0
purpose                          0
title                           11
zip_code                         0
addr_state                       0
dti                              0
delinq_2yrs                      0
earliest_cr_line                 0
inq_last_6mths                   0
open_acc                         0
pub_rec                          0
revol_bal                        0
revol_util                      50
total_acc                        0
initial_list_status              0
out_prncp                        0
out_prncp_inv                    0
total_pymnt                      0
total_pymnt_inv                  0
total_rec_prncp                  0
total_rec_int                    0
total_rec_late_fee               0
recoveries                       0
collection_recovery_fee          0
last_pymnt_d                    71
last_pymnt_amnt                  0
last_credit_pull_d               2
collections_12_mths_ex_med      56
policy_code                      0
application_type                 0
acc_now_delinq                   0
chargeoff_within_12_mths        56
delinq_amnt                      0
pub_rec_bankruptcies           697
tax_liens                       39
dtype: int64

In [91]:
ConsumerLoanData2.iloc[:,10:30].head(10)

,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal
0,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,credit_card,Computer,860xx,AZ,27.65,0,Jan-85,1,3,0,13648
1,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,car,bike,309xx,GA,1.00,0,Apr-99,5,3,0,1687
2,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,real estate business,606xx,IL,8.72,0,Nov-01,2,2,0,2956
3,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,other,personel,917xx,CA,20.00,0,Feb-96,1,10,0,5598
5,Veolia Transportaton,3 years,RENT,36000.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,wedding,My wedding loan I promise to pay back,852xx,AZ,11.20,0,Nov-04,3,9,0,7963
6,Southern Star Photography,8 years,RENT,47004.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,Loan,280xx,NC,23.51,0,Jul-05,1,7,0,17726
7,MKC Accounting,9 years,RENT,48000.0,Source Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,car,Car Downpayment,900xx,CA,5.35,0,Jan-07,2,4,0,8221
8,NaN,4 years,OWN,40000.0,Source Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,small_business,Expand Business & Buy Debt Portfolio,958xx,CA,5.55,0,Apr-04,2,11,0,5210
9,Starbucks,< 1 year,RENT,15000.0,Verified,Dec-11,Charged Off,n,https://lendingclub.com/browse/loanDetail.acti...,other,Building my credit history.,774xx,TX,18.08,0,Sep-04,0,2,0,9279
10,Southwest Rural metro,5 years,OWN,72000.0,Not Verified,Dec-11,Fully Paid,n,https://lendingclub.com/browse/loanDetail.acti...,debt_consolidation,High intrest Consolidation,853xx,AZ,16.12,0,Jan-98,2,14,0,4032

In [92]:
ConsumerLoanData2.max()

# Potential cols with same data in all rows tax_liens, delinq_amnt, acc_now_delinq, chargeoff_within_12_mths, collections_12_mths_ex_med
#   out_prncp, out_prncp_inv

C:\Users\ajaya\AppData\Local\Temp/ipykernel_13008/3212217000.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ConsumerLoanData2.max()

id                                                                      1077501
member_id                                                               1314167
loan_amnt                                                                 35000
funded_amnt                                                               35000
funded_amnt_inv                                                         35000.0
term                                                                  60 months
int_rate                                                                  9.99%
installment                                                             1305.19
grade                                                                         G
sub_grade                                                                    G5
home_ownership                                                             RENT
annual_inc                                                            6000000.0
verification_status                                                    Verified
issue_d                                                                  Sep-11
loan_status                                                          Fully Paid
pymnt_plan                                                                    n
url                           https://lendingclub.com/browse/loanDetail.acti...
purpose                                                                 wedding
zip_code                                                                  999xx
addr_state                                                                   WY
dti                                                                       29.99
delinq_2yrs                                                                  11
earliest_cr_line                                                         Sep-99
inq_last_6mths                                                                8
open_acc                                                                     44
pub_rec                                                                       4
revol_bal                                                                149588
total_acc                                                                    90
initial_list_status                                                           f
out_prncp                                                                   0.0
out_prncp_inv                                                               0.0
total_pymnt                                                         58563.67993
total_pymnt_inv                                                        58563.68
total_rec_prncp                                                        35000.02
total_rec_int                                                          23563.68
total_rec_late_fee                                                        180.2
recoveries                                                             29623.35
collection_recovery_fee                                                 7002.19
last_pymnt_amnt                                                         36115.2
collections_12_mths_ex_med                                                  0.0
policy_code                                                                   1
application_type                                                     INDIVIDUAL
acc_now_delinq                                                                0
chargeoff_within_12_mths                                                    0.0
delinq_amnt                                                                   0
pub_rec_bankruptcies                                                        2.0
tax_liens                                                                   0.0
dtype: object

In [93]:
# Value counts suggest all rows with same values, no good will drop these, 
# Also we drop the 2 id variables and  url which is a text field
print(ConsumerLoanData2.out_prncp.value_counts(), ConsumerLoanData2.out_prncp_inv.value_counts(), ConsumerLoanData2.collections_12_mths_ex_med.value_counts(), ConsumerLoanData2.chargeoff_within_12_mths.value_counts(), ConsumerLoanData2.acc_now_delinq.value_counts(), ConsumerLoanData2.delinq_amnt.value_counts(), ConsumerLoanData2.tax_liens.value_counts())

0.0    38577
Name: out_prncp, dtype: int64 0.0    38577
Name: out_prncp_inv, dtype: int64 0.0    38521
Name: collections_12_mths_ex_med, dtype: int64 0.0    38521
Name: chargeoff_within_12_mths, dtype: int64 0    38577
Name: acc_now_delinq, dtype: int64 0    38577
Name: delinq_amnt, dtype: int64 0.0    38538
Name: tax_liens, dtype: int64

In [94]:
# Dropping the un-needed columns

ConsumerLoanData2 = ConsumerLoanData2.drop(columns=['id', 'member_id', 'url', 'tax_liens', 'delinq_amnt', 'acc_now_delinq', 'chargeoff_within_12_mths', 'collections_12_mths_ex_med', 'out_prncp', 'out_prncp_inv'])
ConsumerLoanData2.shape

(38577, 43)

In [97]:
ConsumerLoanData2.isnull().sum()

loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
sub_grade                     0
emp_title                  2386
emp_length                 1033
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
title                        11
zip_code                      0
addr_state                    0
dti                           0
delinq_2yrs                   0
earliest_cr_line              0
inq_last_6mths                0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                   50
total_acc                     0
initial_list_status           0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
last_pymnt_d                 71
last_pymnt_amnt               0
last_credit_pull_d            2
policy_code                   0
application_type              0
pub_rec_bankruptcies        697
dtype: int64

In [99]:
ConsumerLoanData2.describe()

# policy_code seems useless, one all over

,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,...,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_amnt,policy_code,pub_rec_bankruptcies
count,38577.000000,38577.000000,38577.000000,38577.000000,3.857700e+04,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,...,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.000000,38577.0,37880.000000
mean,11047.025430,10784.058506,10222.481123,322.466318,6.877797e+04,13.272727,0.146668,0.871737,9.275423,0.055422,...,11866.970365,11271.196153,9648.322898,2119.243370,1.368634,98.035545,12.772728,2746.243218,1.0,0.043479
std,7348.441646,7090.306027,7022.720644,208.639215,6.421868e+04,6.673044,0.492271,1.071546,4.401588,0.237804,...,8809.856227,8700.845592,7009.381200,2389.499511,7.315880,698.650182,150.836853,4494.648131,0.0,0.204583
min,500.000000,500.000000,0.000000,15.690000,4.000000e+03,0.000000,0.000000,0.000000,2.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,0.000000
25%,5300.000000,5200.000000,5000.000000,165.740000,4.000000e+04,8.130000,0.000000,0.000000,6.000000,0.000000,...,5513.497338,5019.590000,4500.000000,643.990000,0.000000,0.000000,0.000000,217.420000,1.0,0.000000
50%,9600.000000,9550.000000,8733.440000,277.860000,5.886800e+04,13.370000,0.000000,1.000000,9.000000,0.000000,...,9674.048405,9066.660000,8000.000000,1300.450000,0.000000,0.000000,0.000000,568.260000,1.0,0.000000
75%,15000.000000,15000.000000,14000.000000,425.550000,8.200000e+04,18.560000,0.000000,1.000000,12.000000,0.000000,...,16136.952430,15329.780000,13175.000000,2671.980000,0.000000,0.000000,0.000000,3447.250000,1.0,0.000000
max,35000.000000,35000.000000,35000.000000,1305.190000,6.000000e+06,29.990000,11.000000,8.000000,44.000000,4.000000,...,58563.679930,58563.680000,35000.020000,23563.680000,180.200000,29623.350000,7002.190000,36115.200000,1.0,2.000000